extends layout 

block main 
  h2 #{klass.id} $#{klass.prize_money} #{klass.name}
  form(action = `/classes/${klass.id}/edit` method="post")
    dl 

      dt 
        label(for="class_name") New Name: 
      dd 
        input(type="input"
              id="class_name" 
              name="class_name" 
              placeholder="class name" 
              value=class_name)
      dt 
        label(for="prize_money") Prize Money 
      dd 
        input(type="input"
              id="prize_money" 
              name="prize_money" 
              placeholder="prize money" 
              value=prize_money)

    
    fieldset.actions 
      input(type="submit" value="Submit")
      
block headerLinks
  .actions
    a(href="/") Home
    a(href="/classes") Classes
    a(href="/manager-home") Manager Home
  p Signed in as #{username} 
  form(action = `/signout` method="post")
    input(type="submit" id="signout" value="Sign Out")